html{
	font-family: sans-serif;
	background-image: linear-gradient(lavender, 5%, azure );
	height: 100%;
	/*background-image: linear-gradient(mistyrose, 90%, mintcream );*/
	background-color: lavender;
	font-size: 80%;
}

.thread{
	background-color: azure;
	outline: solid 2px lightgray;
}

.phead{
	background-color: lavender;
	padding: 0 1%;
}
.content{
	padding: 0 1% 1% 1%;
}

hr{
	background-color: gray;
	height: 2px; 
	border: 0;
}

.subjectline{
}
.meta{
}

.name{
	color: darkgreen;
}

.threadref{
	display: none;
}

.tripcode{
	color: white;
	text-shadow: black 0px 0px 10px;
	padding-left: 0.1%;
	padding-right: 0.1%;
	margin-left: 0.1%;
	margin-right: 0.1%;
	border-radius: 5px;
}
nav{
	display: flex;
	justify-content: space-between;
}
nav a:link, nav a:visited, nav a:hover, nav a:active{
	color: darkblue;
}
.quote{
	color: darkgreen;
}
.quotelink a:link, .quotelink a:visited, .quotelink a:hover, .quotelink a:active{
	color: darkblue;
}
