html{
	font-family: sans-serif;
	background-image: url("/assets/images/heart.png");
	height: 100%;
	/*background-image: linear-gradient(mistyrose, 90%, mintcream );*/
	background-color: pink;
	font-size: 80%;
}

.thread{
	background-color: rgba(255, 192, 203, 0.5);
	outline: solid 2px lightgray;
}
.threadbox{
	max-width: 80%;
	margin: 0 auto; 
}

.phead{
	background-color: plum;
	padding: 0 1%;
}
.content{
	padding: 0 1% 1% 1%;
}

hr{
	background-color: gray;
	height: 2px; 
	border: 0;
	display: none;
}

.subjectline{
}
.meta{
}

.name{
	color: deeppink;
}

.threadref{
	display: none;
}

.tripcode{
	color: white;
	text-shadow: black 0px 0px 10px;
	padding-left: 0.1%;
	padding-right: 0.1%;
	margin-left: 0.1%;
	margin-right: 0.1%;
	border-radius: 5px;
}
nav{
	display: flex;
	justify-content: space-between;
}
nav a:link, nav a:visited, nav a:hover, nav a:active{
	color: mediumvioletred;
}
.inputbox{
	background-color: rgba(255, 192, 203, 0.5);
	outline: solid 2px lightgray;
}
.quote{
	color: deeppink;
}
.quotelink a:link, .quotelink a:visited, .quotelink a:hover, .quotelink a:active{
	color: mediumvioletred;
}
