html{
	font-family: serif;
	color: firebrick;
	background-image: url("/assets/images/ba.gif");
	height: 100%;
	/*background-image: linear-gradient(mistyrose, 90%, mintcream );*/
	background-color: bisque;
}

.thread{
}
.threadbox{
	background-color: mistyrose;
	border: black 6px double;
}

.phead{
	background-color: mistyrose;
	padding: 0 1%;
}
.content{
	padding: 0 1% 1% 1%;
}

hr{
	display: none;
	height: 0;
}

.subjectline{
	color: red;
}
.meta{
}

.name{
	color: darkgreen;
}

.threadref{
	display: none;
}

.tripcode{
	color: white;
	text-shadow: black 0px 0px 10px;
	padding-left: 0.1%;
	padding-right: 0.1%;
	margin-left: 0.1%;
	margin-right: 0.1%;
}

nav{
	color: darkred;
	display: flex;
	justify-content: space-between;
	background-color: lightgreen;;
	border: black 6px double;
	margin-bottom: 1%;
	padding: .5%;
}

nav a:link, nav a:visited, nav a:hover, nav a:active{
	color: darkred;
}
.inputbox{
	background-color: lightgreen;;
	border: black 5px double;
	padding: .5%;
}
.quote{
	color: darkgreen;
}
