html{
	font-family: sans-serif;
	height: 100%;
	font-size: 80%;
	background-color: #1E1F21; 
	color: #EEEFF1; 
}

.thread{
	background-color: black;
	outline: solid 1px;
	padding: 0.5%;
}

.phead{
	background-color: black;
}
.content{
}

hr{
	border: 0; 
	border-bottom: 1px dashed;
	margin: 1% 0;
}

.subjectline{
}
.meta{
}

.name{
	color: darkgreen;
}

.threadref{
	display: none;
}

.tripcode{
	color: black;
	text-shadow: white 0px 0px 10px;
	padding-left: 0.1%;
	padding-right: 0.1%;
	margin-left: 0.1%;
	margin-right: 0.1%;
	border-radius: 5px;
}
nav{
	display: flex;
	justify-content: space-between;
}
nav a:link, nav a:visited, nav a:hover, nav a:active{
	color: #BAD7FF; 
}
input, textarea{
	background-color: black;
	color: white;
	border: solid 1px white;
}

:link {
	color: #23238E;
}

:visited {
	color: #008088;
}
.quote{
	color: darkgreen;
}
.quotelink a:link, .quotelink a:visited, .quotelink a:hover, .quotelink a:active{
	color: #BAD7FF; 
}
 a:link,  a:visited,  a:hover,  a:active{
	color: #BAD7FF; 
}
