html{
	font-family: sans-serif;
	color: firebrick;
	background-image: linear-gradient(moccasin, 5%, antiquewhite );
	height: 100%;
	/*background-image: linear-gradient(mistyrose, 90%, mintcream );*/
	background-color: bisque;
	font-size: 80%;
}

.thread{
	background-color: antiquewhite;
	outline: solid 2px lightgray;
}

.phead{
	background-color: moccasin;
	padding: 0 1%;
}
.content{
	padding: 0 1% 1% 1%;
}

hr{
	background-color: gray;
	height: 2px; 
	border: 0;
}

.subjectline{
	color: red;
}
.meta{
}

.name{
	color: darkgreen;
}

.threadref{
	display: none;
}

.tripcode{
	color: white;
	text-shadow: black 0px 0px 10px;
	padding-left: 0.1%;
	padding-right: 0.1%;
	margin-left: 0.1%;
	margin-right: 0.1%;
	border-radius: 5px;
}

nav{
	color: dimgray;
	display: flex;
	justify-content: space-between;
}

nav a:link, nav a:visited, nav a:hover, nav a:active{
	color: darkred;
}
.quote{
	color: darkgreen;
}
.quotelink a:link, .quotelink a:visited, .quotelink a:hover, .quotelink a:active{
	color: darkblue;
}
